{{ partial "header.html" . }}

{{ .Content }}
<ul>
    {{ range .Data.Pages }}
        <li>
            <h4><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
            <!--<time>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>-->
        </li>
    {{ end }}
</ul>
<footer class=" footline" >
	{{with .Params.LastModifierDisplayName}}
	    <i class='fa fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> {{with $.Date}} <i class='fa fa-calendar'></i> {{ .Format "02/01/2006" }}{{end}}
	    </div>
	{{end}}
</footer>
{{ partial "footer.html" . }}